<nav>
<% if session[:current_user] %>
    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='Log-Out'>
      <a href="/posts/new">Add entry!</a>
    </form>
   
  <% else %>
    <a href="/users/new">Join?</a>
    <a href="/sessions/new">Log-In?</a>
  <% end %>
</nav>


<% @posts.each do |post|%>
	<div class="post">
		<a href="/posts/<%=post.id%>"><%=post.title%></a>
		<p></p>
		<%=post.body%>
    <h3>Tags:<%= post.tags.join(" - ") %></h3>
		</div>
    
	<%end%>

