<% if session[:current_user] %>
    <form action="/sessions" method='post'>
      <input type="hidden" name='_method' value='delete'>
      <input type="submit" value='Log-Out'>
    </form>
   
   <a href="/posts/new">Add entry!</a>
  <% else %>
    <a href="/users/new">Join?</a>
    <p></p>
    <a href="/sessions/new">Log-In?</a>
  <% end %>



<% @posts.each do |post|%>
	<div class="post">
		<a href="/posts/<%=post.id%>"><%=post.title%></a>
		<p></p>
		<%=post.body%>
		</div>
    
	<%end%>

