<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>King of Kings</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
	<a class="homelink" href="/"><h1><b> μολὼν λαβέ</b>	</h1></a>
	<%=yield%>
</body>
</html>