<h2>Log-In</h2>

<form action="/sessions" method="post">
  <input type="text" name="username" placeholder = '...username'>
  <input type="password" name="password" placeholder = '...password'>
  <input type="submit">
</form>
