<form action="/posts" method ="post">
	<input type="text" class="posttitle" name="post_title" placeholder="Title">
	<p></p>
	<textarea class="postbody" name="post_body" placeholder="CONTENT" cols="30" rows="10"></textarea>
	<p></p>
	<input type="submit">
</form>


